/* GENERAL ANIMATIONS */


/* Fade in when page loads */

body{

animation: pageLoad 0.8s ease-in;

}



@keyframes pageLoad{

from{

opacity:0;

}

to{

opacity:1;

}

}





/* Images animation */


img{

transition:0.4s ease;

}





img:hover{

transform:scale(1.03);

}







/* Cards animation */


.product-card,

.service-card,

.gallery-item,

.contact-card{

animation: slideUp 0.8s ease;

}





@keyframes slideUp{


from{

opacity:0;

transform:translateY(40px);

}



to{

opacity:1;

transform:translateY(0);

}


}







/* Buttons */


button{

transition:0.3s ease;

}



button:hover{

transform:translateY(-3px);

}






/* Links */


a{

transition:0.3s ease;

}